* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    text-align: center;
  }
  .page-wrapper{
    width: 90%;
    margin: 0 auto;
  }

  header{
    width: 100%;
    height: 120px;
    background-color: rgba(19, 81, 239, 0.741);
    position: fixed;
  }  

  .logo{
    width: 30%;
    float: left;
    text-align: left;
    line-height: 20px;
  }
  .logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: cursive;
    color: aliceblue;
    letter-spacing: 4px;
  }
  nav{
    float: right;
    text-align: right;
    line-height: -500px;
  }
  nav a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    color: aliceblue;
    padding: 36px 10px;
    margin: 1px;
    font-weight: 500;
  }
  nav a:hover{
    background-color: antiquewhite;
    color: black;
  }
  .hero-banner{
    background-image: url(./assets/images/Rehyanbanner.jpg);
    background-size: cover;
    background-position: center;
    top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }